/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#fff;
    padding: 20px;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;   
    background:#fff;
    transition:all linear 0.15s;

    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#000;
    text-decoration: none;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#dadada;
    text-decoration:none;
    color:#000;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}
.woocommerce .woocommerce-tabs ul.tabs {
    display:none !important;
}